.App {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: 6fr;
  background-color: #F5EAEA;
}

.student{
  border: 2px solid #4D455D;
  margin: 10px;
  padding: 15px;
}

.score{
  display: flex;
  justify-content: center;
  align-items: center;
}

.score-item{
  border: 2px solid #4D455D;
  margin: 5px;
  padding: 5px;
  font-size: 13px;
}
